<div class="treeSubNavv1">
	<ul id="tree_letter">
	<#list letters as letters>
	   <#if (hasLetters?index_of(letters)!=-1)>
		  <li><a href="javascript:void(0);" onClick="treeHref(${letters_index});return false;">${letters}</a></li>
		<#else>
		   <li class="none">${letters}</li>
		</#if>
	</#list>
	</ul>
</div>
<div class="treev1" id="treev1">
	<ul>
	<#list letters as letters>
	   <#if (hasLetters?index_of(letters)!=-1)>
		<li class="root" id="letter${letters_index}"><b>${letters}</b>
		   <#list list2 as brand>
		      <#if brand.upper_index==letters>
			<ul>
				<li id="${brand.id?c}" title="${brand.name}"> <a href="/inquiry/0_0_${brand.id?c}_0_0.shtm" class="mainBrand"><big>${brand.name}</big></a>
					<ul id="${brand.id?c}_sub">
					</ul>
				</li>
			</ul>
			</#if>
			</#list>
		</li>
		</#if>
	</#list>
	</ul>
</div>