								<#if list?? && (list?size>0)>
								<#list list as list>
									<div class="span-4 smidd-6 smal-12">
										<div class="info">
											<a title="${list.title?replace("^R","®")}" target="_blank" class="pic imgZoom" href="${list.title_url}">
												<div class="rect-60">
													<img src="http://product.21-sun.com/uploadfiles${list.img}" alt="${list.title?replace("^R","®")}" class="_full">
												</div>
												<#if list.is_display == '1' ><span class="tag">${list.sub_title}</span></#if>
												<span class="name el">${list.title?replace("^R","®")}</span>
											</a>
											<div class="order">
												<span class="price">¥ ${list.price} 万</span>
												<a title="${list.price}" target="_blank" class="ani-btn" href="${list.url1}" c-text="询底价"></a>
											</div>
											<div class="detail el">
												${list.summary?replace("|","<span> | </span>")}
											</div>
										</div>
									</div>
								</#list>
								</#if>