								<div class="btm_item cur">
									<div class="item fix">
										<!-- 新产品添加new类名 -->
										<#if catlist1?? && (catlist1?size>0)>
										<#list catlist1 as list>
										<div class="pro <#if list.is_display == '1'>new</#if> ">
											<div class="name"><a title="${list.title?replace("^R","®")}" target="_blank" href="${list.title_url}">${list.title?replace("^R","®")}</a></div>
											<div class="link">
												<a title="询价" target="_blank" href="${list.url1}" class="order">询价</a>|
												<a title="口碑" target="_blank" href="${list.url2}">口碑</a>|
												<a title="图库" target="_blank" href="${list.url3}">图库</a>
											</div>
										</div>
										</#list>
										</#if>	
									</div>
									<div class="item fix">
										<#if catlist2?? && (catlist2?size>0)>
										<#list catlist2 as list>
										<div class="pro <#if list.is_display == '1'>new</#if> ">
											<div class="name"><a title="${list.title?replace("^R","®")}" target="_blank" href="${list.title_url}">${list.title?replace("^R","®")}</a></div>
											<div class="link">
												<a title="询价" target="_blank" href="${list.url1}" class="order">询价</a>|
												<a title="口碑" target="_blank" href="${list.url2}">口碑</a>|
												<a title="图库" target="_blank" href="${list.url3}">图库</a>
											</div>
										</div>
										</#list>
										</#if>
									</div>
								</div>
								<div class="btm_item">
									<div class="item fix">
										<#if sanylist1?? && (sanylist1?size>0)>
										<#list sanylist1 as list>
										<div class="pro <#if list.is_display == '1'>new</#if> ">
											<div class="name"><a title="${list.title?replace("^R","®")}" target="_blank" href="${list.title_url}">${list.title?replace("^R","®")}</a></div>
											<div class="link">
												<a title="询价" target="_blank" href="${list.url1}" class="order">询价</a>|
												<a title="口碑" target="_blank" href="${list.url2}">口碑</a>|
												<a title="图库" target="_blank" href="${list.url3}">图库</a>
											</div>
										</div>
										</#list>
										</#if>
									</div>
									<div class="item fix">
										<#if sanylist2?? && (sanylist2?size>0)>
										<#list sanylist2 as list>
										<div class="pro <#if list.is_display == '1'>new</#if> ">
											<div class="name"><a title="${list.title?replace("^R","®")}" target="_blank" href="${list.title_url}">${list.title?replace("^R","®")}</a></div>
											<div class="link">
												<a title="询价" target="_blank" href="${list.url1}" class="order">询价</a>|
												<a title="口碑" target="_blank" href="${list.url2}">口碑</a>|
												<a title="图库" target="_blank" href="${list.url3}">图库</a>
											</div>
										</div>
										</#list>
										</#if>
									</div>
								</div>
								<div class="btm_item">
									<div class="item fix">
										<#if linlist1?? && (linlist1?size>0)>
										<#list linlist1 as list>
										<div class="pro <#if list.is_display == '1'>new</#if> ">
											<div class="name"><a title="${list.title?replace("^R","®")}" target="_blank" href="${list.title_url}">${list.title?replace("^R","®")}</a></div>
											<div class="link">
												<a title="询价" target="_blank" href="${list.url1}" class="order">询价</a>|
												<a title="口碑" target="_blank" href="${list.url2}">口碑</a>|
												<a title="图库" target="_blank" href="${list.url3}">图库</a>
											</div>
										</div>
										</#list>
										</#if>
									</div>
									<div class="item fix">
										<#if linlist2?? && (linlist2?size>0)>
										<#list linlist2 as list>
										<div class="pro <#if list.is_display == '1'>new</#if> ">
											<div class="name"><a title="${list.title?replace("^R","®")}" target="_blank" href="${list.title_url}">${list.title?replace("^R","®")}</a></div>
											<div class="link">
												<a title="询价" target="_blank" href="${list.url1}" class="order">询价</a>|
												<a title="口碑" target="_blank" href="${list.url2}">口碑</a>|
												<a title="图库" target="_blank" href="${list.url3}">图库</a>
											</div>
										</div>
										</#list>
										</#if>
									</div>
								</div>
								<div class="btm_item">
									<div class="item fix">
										<#if xulist1?? && (xulist1?size>0)>
										<#list xulist1 as list>
										<div class="pro <#if list.is_display == '1'>new</#if> ">
											<div class="name"><a title="${list.title?replace("^R","®")}" target="_blank" href="${list.title_url}">${list.title?replace("^R","®")}</a></div>
											<div class="link">
												<a title="询价" target="_blank" href="${list.url1}" class="order">询价</a>|
												<a title="口碑" target="_blank" href="${list.url2}">口碑</a>|
												<a title="图库" target="_blank" href="${list.url3}">图库</a>
											</div>
										</div>
										</#list>
										</#if>
									</div>
									<div class="item fix">
										<#if xulist2?? && (xulist2?size>0)>
										<#list xulist2 as list>
										<div class="pro <#if list.is_display == '1'>new</#if> ">
											<div class="name"><a title="${list.title?replace("^R","®")}" target="_blank" href="${list.title_url}">${list.title?replace("^R","®")}</a></div>
											<div class="link">
												<a title="询价" target="_blank" href="${list.url1}" class="order">询价</a>|
												<a title="口碑" target="_blank" href="${list.url2}">口碑</a>|
												<a title="图库" target="_blank" href="${list.url3}">图库</a>
											</div>
										</div>
										</#list>
										</#if>
									</div>
								</div>
								<div class="btm_item">
									<div class="item fix">
										<#if xslist1?? && (xslist1?size>0)>
										<#list xslist1 as list>
										<div class="pro <#if list.is_display == '1'>new</#if> ">
											<div class="name"><a title="${list.title?replace("^R","®")}" target="_blank" href="${list.title_url}">${list.title?replace("^R","®")}</a></div>
											<div class="link">
												<a title="询价" target="_blank" href="${list.url1}" class="order">询价</a>|
												<a title="口碑" target="_blank" href="${list.url2}">口碑</a>|
												<a title="图库" target="_blank" href="${list.url3}">图库</a>
											</div>
										</div>
										</#list>
										</#if>
									</div>
									<div class="item fix">
										<#if xslist2?? && (xslist2?size>0)>
										<#list xslist2 as list>
										<div class="pro <#if list.is_display == '1'>new</#if> ">
											<div class="name"><a title="${list.title?replace("^R","®")}" target="_blank" href="${list.title_url}">${list.title?replace("^R","®")}</a></div>
											<div class="link">
												<a title="询价" target="_blank" href="${list.url1}" class="order">询价</a>|
												<a title="口碑" target="_blank" href="${list.url2}">口碑</a>|
												<a title="图库" target="_blank" href="${list.url3}">图库</a>
											</div>
										</div>
										</#list>
										</#if>
									</div>
								</div>